// Converts pixels to ems.
// $pixels - either unitless or with px, 32 or 32px
// $context - either unitless or with px, 32 or 32px
@function em($pixels, $context: $base-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return ($pixels / $context) * 1em;
}