$primary-text-color: #212121;

// Font styles
$base-font-family:     Helvetica, Arial, 'MS Trebuchet', sans-serif;
$base-font-size:       16px;
$base-line-height:     16px;
$base-font: $base-font-size/1 $base-font-family;