<div class="home-container">
    <!--How to use animations-->
    <div class="title animated jello">
        {{home.hello}}
    </div>
    <!--How to use icons-->
    <div class="webicon-container">
        <webicon class="animated jello infinite" icon="md:dashboard"></webicon>
    </div>
</div>